@import url("https://fonts.googleapis.com/css?family=Roboto");


@keyframes slidefromleft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-30px);
    }
}

@keyframes slidefromright {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(100px);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes wobble {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-10%) rotate(-6deg); } 
    30% { transform: translateX(8%) rotate(4deg); } 
    45% { transform: translateX(-6%) rotate(-3deg); } 
    60% { transform: translateX(4%) rotate(3deg); }
    75% { transform: translateX(-2%) rotate(-2deg); }
    100% { transform: translateX(0%); } 
 } 

:root {
    --background: rgb(12, 0, 116);
    --maincolour: rgb(240, 0, 60);
    --secondarycolour: rgb(0, 245, 245);
}

html, body {
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    background-color: var(--background);
    color: white;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

#headercontainer {
    background-color: rgb(8, 0, 80);
    width: 100%;
}

#menucontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    margin-left: 20px;
    margin-right: 10px;
    max-width: 700px;
}

#header {
    color: var(--maincolour);
    cursor: pointer;
}

#header:hover {
    scale: 1.05;
    transition: 0.2s;
}

.menuitem {
    padding: 3px;
    border-bottom: solid 1px rgb(255, 255, 255, 0);
    cursor: pointer;
}

.menuitem:hover {
    scale: 1.2;
    transition: 0.3s;
    border-bottom: solid 1px rgb(147, 255, 255, 1);
    color: var(--secondarycolour);
}

#maincontainer, #projectcontainer {
    margin: 30px;
    align-self: center;
}

#greeting {
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap: 20px;
}

#hello {
    color: var(--maincolour);
    font-size: 48px;
    font-weight: 700;
    transform: translate(-30px);
    animation-name: slidefromleft;
    animation-duration: 1s;
}

#intro {
    color: var(--background);
    font-size: 40px;
    font-weight: 500;
    transform: translate(100px);
    animation-name: slidefromright;
    animation-duration: 1s;
    animation-delay: 1s;
}

#info {
    color: var(--background);
    font-size: 20px;
    gap: 60px;
    width: 260px;
    padding: 5px;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 2s;
}

.sectionhead {
    color: var(--maincolour);
    font-size: 36px;
    font-weight: 700px;
    margin: 20px;
}

.about {
    min-width: 400px;
}

#abouttext {
    max-width: 600px;
    margin: 20px;
}

#skillshead {
    margin-top: 30px;
    align-self: center;
}

#skillscontainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 00px;
    gap: 50px;
    width: 50%;
    max-width: 600px;
    align-self: center;
}

.subhead {
    color: var(--secondarycolour);
    font-size: 24px;
    justify-self: center;
    align-self: center;
}

#languages, #technologies {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-width: 300px;
    justify-self: center;
    align-self: center;
}

#languages {
    min-width: 250px;
}

svg {
    height: 50px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.language {
    width: 75px;
}

#projectcontainer, #contactcontainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#contactcontainer {
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.project {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    max-width: 1000px;;
}

.projectcontent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projectshead {
    align-self: center;
}

.projecthead {
    color: var(--maincolour);
    font-size: 24px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    background-color: transparent;
    border: solid 2px var(--maincolour);
    color: var(--maincolour);
    border-radius: 14px;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.button:hover {
    animation-name: wobble;
    animation-duration: 0.6s
}

.projectimg {
    height: 200px;
    width: 200px;
}

.contacttext {
    font-size: 18px;
}

.contactlink {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondarycolour);
}

#github, #email {
    cursor: pointer;
}

#github:hover, #email:hover {
    color: rgb(0, 192, 199);
}